article {
  color: $font-color;
  margin: 0 0 $margin;
  border-radius: 0 0 4px 4px;
  transition: all .3s;
  h1 {
    border-bottom: solid 1px darken($background-default, 15);
    margin: 0;
    color: lighten($header-bg, 5);
  }
  .copy {
    padding: $padding;
    border-left: solid 1px darken($background-default, 15);
    border-bottom: solid 1px darken($background-default, 15);
    border-radius: 0 0 0 4px;
  }
  p {
    animation-name: fade_in;
    animation-duration: .3s;
    &:last-of-type {
      margin-bottom: 0;
    }
    &.source {
      color: lighten($font-color, 35);
      text-align: right;
      margin-top: $margin;
      font-family: 'korolev-condensed';
    }
  }
  &.collapsed {
    background: none;
    .section-close {
      border: solid 1px darken($background-default, 15);
      &:hover {
        background-color: darken($background-default, 5);
      }
    }
  }
}

h3 {
  margin-bottom: 0;
  &:first-of-type {
    margin-top: 0;
  }
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  font-size: em(18);
}

.label {
  font-size: em(18);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: $margin;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  > div {
    padding: $padding/2;
    border: solid 1px darken($background-default, 15);
    border-radius: 4px 4px 0 4px;  
  }
  i {
    color: darken($background-default, 15);
  }
  label {
    color: darken($background-default, 30);
    padding-bottom: $padding/2;
    padding-left: $padding;
    border-bottom: solid 1px darken($background-default, 15);
  }
}
