$header-bg: #F05408;
$white: #FFFFFF;
$black: #111111;
$background-default: #DEDEDE;
$dark-bg: #353535;
$darker-bg: #282828;
$font-color: #353535;
$link-color: #547DBB;


$base-font: 16px;
$margin: 15px;
$padding: 15px;
